1.Explain the key features python that make  it a popular choice for programming.

Ans. Pythone has large active community source we can learn and use easely and free that that's why people give priority as per comparison other programming language,it has 137000 libraries, phthon is high level language but it is easy to understand and execute the code, python is most popular programming langauge choice among the developer and programmers.

2.Discribe the role of predifined keywords in python and provide examples of how they are used in a program.

Ans. Python keywords cannot be used as the names of variables, functions, and classes keyword, it is reserved words whose meaning is already define in the interpretier, python keywords are the case sensitive. it has 33 keywords.We can use predifined keyword as per the condition.Python keywords we can not use for persanl purpose.

In [5]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
if 3>5:
  print("greater")
else:
  print("smaller")

smaller

In [9]:
if 3>2:
  print("greater")
else:
  print("smaller")

greater

In [10]:
a = "greater"
for i in a:
  print(i)

g
r
e
a
t
e
r

In [13]:
a = 7
b = 1
while b<a:
  print(b)
  b = b+1

1
2
3
4
5
6

In [14]:
a = 7
b = 1
while b<a:
  print(b)
  b = b+1
  if b == 3:
    break
else:
  print("this will be execute when the while run is succefully without break")

1
2

In [15]:
a = 7
b = 1
while b<a:
  print(b)
  b = b+1
  if b == 3:
    continue

1
2
3
4
5
6

In [16]:
a = [1,2,3,"data science","physicswallah"]
for i in a:
  print(i)

1
2
3
data science
physicswallah

In [20]:
a

[1, 2, 3, 'data science', 'physicswallah']

3. compare and contrast mutable and immutable object in python with example.

Ans.Mutable data can be changed after the creation but in immutable data we can't changed after the creation.

In [21]:
a = [1,2,3,"school","collage","bike"] #mutability

In [22]:
a[4] ="ayush"

In [23]:
a

[1, 2, 3, 'school', 'ayush', 'bike']

In [24]:
a.remove("school")

In [25]:
a

[1, 2, 3, 'ayush', 'bike']

In [27]:
a.append("piyush")

In [28]:
a

[1, 2, 3, 'ayush', 'bike', 'piyush']

In [29]:
a.clear()

In [30]:
a

[]

In [31]:
del a

In [32]:
a

NameError: name 'a' is not defined

4.discuss different type of operators in python and provide the examples how they are used.

Ans.there are many types of operator in python, like arithmetic operator, membership operators, logical operators, comparison operators
  condition operators,assigmnet operators, bitwise opertars, identify opeartors

In [33]:
100-3 #arithmatic operators

97

In [34]:
10*23

230

In [35]:
2**5 #module operators

32

In [36]:
#camparison operators
2 == 2

True

In [37]:
2==3

False

In [76]:
#logical operators
True and False

False

In [77]:
False or False

False

In [78]:
True or True

True

In [41]:
#membership operator
b = "education"
"u"in b

True

In [42]:
#identify operators
a = 2
b = a
a is b

True

In [43]:
#bitwise operators
bin(10)

'0b1010'

5.Explain the concept of type casting in python with examples.

Ans. The process of converting the value of a single data type into another data type is called type casting.
Ex - int to float, float to int, int to string

In [47]:
#type casting
a = "3"

In [48]:
type(a)

str

In [53]:
print(type(a))
print(type(int(a)))
print(type(float(a)))
print(type(str(a)))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

In [54]:
a = "20"

In [55]:
a

'20'

In [56]:
int(a)

20

In [57]:
float(a)

20.0

In [58]:
str(a)

'20'

In [69]:
a = [1,2,3]
type(a)

list

In [70]:
a = (1,2,3)
type(a)

tuple

In [71]:
a = {1,2,3}
type(a)

set

In [75]:
a = {}
type(a)

dict

In [79]:
a = {"key_couse": "data science", "duration":200}

In [80]:
a

{'key_couse': 'data science', 'duration': 200}

6.How do conditional statement work in python? illustrate with example.

Ans.If the condition is true the code of block intended below the if statement will be excuted, if the condition is false the block of code is skipped.

In [59]:
age = 17
if age> 18:
  print("you can drink alcohal")
else:
  print(" you don't drink")

 you don't drink

In [60]:
a = 100
if a > 200:
  print("a is greater than 200")
elif a < 200:
  print("a less than 200")
else:
  print("nothing")

a less than 200

In [65]:
a = 100
if a > 20:
  print("a is greater than 200")
elif a < 200:
  print("a less than 200")
else:
  print("nothing")

a is greater than 200

In [67]:
a = 5
if a > 5:
  print("a is greater than 200")
elif a < 5:
  print("a less than 200")
else:
  print("nothing")

nothing

7.Discribe the different type of loops in python and their use cases with examples.

Ans.In python loops are employed to reapetly action code untill a specific condition is fulfilled.There are two loop
a. while loop - while loop for the executing the code untill specific condition become false.
b. For loop -for loop using to iterate the sequence of elements

In [83]:
i=1
while  i <= 10:
    print(i,"welcome to my world")
    i= i+1
else:
  print("continue")

1 welcome to my world
2 welcome to my world
3 welcome to my world
4 welcome to my world
5 welcome to my world
6 welcome to my world
7 welcome to my world
8 welcome to my world
9 welcome to my world
10 welcome to my world
continue

In [84]:
b = [1, 2, 3, 4, "auyush","piyush"]
for i in b:
  print(i)

1
2
3
4
auyush
piyush

In [88]:
b = [1, 2, 3, 4, "auyush","piyush"]
for i in b:
  print(i)

1
2
3
4
auyush
piyush